<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/home_page2.css') }}">
    <link rel="icons" type="image/png" href="{{url_for('static', filename='Images/bloc-note_icone.png')}}">
    <link rel="icons" href="{{url_for('static', filename='Images/bloc-note_icone2.ico')}}">
</head>
<body>
    {% if current_user.is_authenticated %}
        <div class="home_page_buttons">
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit">Log out</button>
            </form>
        </div>
        <div class="user-greeting">
            <span>Hello, {{ current_user.email }}!</span>
        </div>
    {% else %}
        <div class="home_page_buttons">
            <button type="button"><a href="{{ url_for('signup') }}">Sign up</a></button>
            <button type="button"><a href="{{ url_for('login') }}">Log in</a></button>
        </div>
    {% endif %}



    <h1 class="home_page">Home page</h1>
    
    <span class="message">Welcome to *website_name* !</span>

    <div class="boutons">
        <button type="button" title="Ajouter une tâche">
            <a href="{{ url_for('new_page') }}"><img src="{{ url_for('static', filename='icons/add_icon.png') }}"></a>
        </button>
        <button type="button" title="Programmer nos tâches">
            <img src="{{ url_for('static', filename='icons/schedule_icon.png') }}">
        </button>
        <button type="button">
            <a href="{{ url_for('saved_lists') }}">View My To-Do Lists</a>
        </button>
    </div>

    <section class="features">
        <h2>Main features</h2>
        <ul>
            <li>Tags <img src="{{url_for('static', filename='icons/tag_icon.png')}}" alt="tag_icon"></li>
            <li>Schedules <img src="{{url_for('static', filename='icons/schedule_icon.png')}}" alt="calendar_icon"></li>
            <li>User authentication <img src="{{url_for('static', filename='icons/lock_icon.png')}}" alt="lock_icon"></li>
        </ul>
    </section>

    <footer>
        <div class="informations">
            <p>This site is still a work in progress developed by independent contributors.</p>
            <p>Some features are still experimental.</p>
            <p>Of course, this project will evolve in the future as we are still learning</p>
            <p>Our goal is to increase students' productivity with a modern organization tool.</p>
            <p>If you have suggestions or issues, contact us:</p>
            <nav>joyce.kimbeni@ascitech.ac.cd, perla.mpoyi@ascitech.ac.cd</nav>
            <span>@2025 Bloc-note. All rights reserved.</span>
        </div>
    </footer>
</body>
</html>
